{% extends 'generic/object.html' %}
{% load helpers %}

{% block content %}
<div class="row">
  <div class="col col-md-6">
    <div class="card">
      <h2 class="card-header">Installer Config</h2>
      <table class="table table-hover attr-table">
        <tr>
          <th scope="row">Name</th>
          <td>{{ object.name }}</td>
        </tr>
        <tr>
          <th scope="row">OS Family</th>
          <td>{{ object.get_os_family_display }}</td>
        </tr>
        <tr>
          <th scope="row">Installer Type</th>
          <td>{{ object.get_installer_type_display }}</td>
        </tr>
        <tr>
          <th scope="row">Version</th>
          <td>{{ object.version }}</td>
        </tr>
        <tr>
          <th scope="row">SHA-256 Checksum</th>
          <td><code>{{ object.checksum|placeholder }}</code></td>
        </tr>
        <tr>
          <th scope="row">Description</th>
          <td>{{ object.description|placeholder }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col col-md-6">
    <div class="card">
      <h2 class="card-header">Content</h2>
      <div class="card-body">
        <pre class="border rounded p-2" style="max-height:500px;overflow:auto;">{{ object.content }}</pre>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
